
.container1{
    margin-top: 20px;
    color:aqua;
    background-color:blue;
}

.container2{
    color:brown;
    background-color: aqua;
}

.container3{
    margin-top: 20px;
    text-decoration:underline;
}

.montagne{
    border-radius: 50%;
    margin-top: 20px;
}

body{
    text-align: center;
    font-size: 30;
    background-color: blueviolet;
}